@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

body {
    font-family: 'Raleway';
    font-weight: 400;
    background-color: #A1CCA5;
    color: #111111;
}

nav {
    background-color: #415D43;
}

/* mobile sidenav background to custom green*/
#mobile-demo {
    background-color: #111D13;
}

/* mobile sidenav text color to white */
.sidenav li > a {
    color: white;
}

.register-input {
    padding-left: 5%;
}

.green1 {
    background-color: #415D43;
}

/* resets margins and colour from materialize css for card link*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 0;
    color: #f08747;
}