@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Square+Peg&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #000000;
}

/*                                                                              ----     NAV */

nav {
    background-color: #111111;
}

/* mobile sidenav */
#mobile-demo {
    background-color: #d1d1d1;
}

/* mobile sidenav text color*/
.sidenav li > a {
    color: rgb(0, 0, 0);
}

/*                                                                              ----     HEADER */

header {
    height: 600px;
    background: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg);
    background-size: cover;
    position: relative;
}

/* for h1 in header */
h1 {
    font-family: 'Square Peg', cursive;
    text-shadow: 2px 2px #dab84b79;
    font-size: 500%;
}

/*                                                                              ----    SEARCH */

.search-bar {
    margin-bottom: 50px;
}

/* cleans up search bar button */
.review-btn {
    margin-right: 15px !important;
}

/*                                                                              ----     GENERAL */

h2 {
    margin-top: 100px;
    margin-bottom: 70px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.caps {
    text-transform: capitalize;
}

/* icon colour on login/register active element */
.input-field .prefix.active {
    color: #f08747;
}

/* tidy up login/register inputs */
.register-input {
    padding-left: 5%;
}

/* resets margins and colour from materialize css for card link*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 0;
    color: #f08747;
}

/* gives button elements some breathing space and colour*/
.btn {
    margin: 5px;
    background-color: #e6722a;
}

.btn:hover {
    background-color: #111111;
}

/* creates space between each review card generated */
.review-card {
    margin: 50px 0 50px 0;
}

/*                                                                              ----     DATE PICKER */

.datepicker-date-display, .datepicker-table td.is-selected {
    background-color: #f08747;
}

.datepicker-done, .datepicker-cancel, .dropdown-content li>span {
    color: #e6722a;
}

/*                                                                              ----     FOOTER */

footer {
    height: 75px;
    padding-top: 25px;
    background-color: #111111;
}

footer a {
    font-size: large;
    color: white;
    margin: 0 10px 0 10px;
}