<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Live Music Reviews</title>
</head>

<body>
    <nav>
        <!-- main nav -->
        <div class="nav-wrapper">
            <a href="{{ url_for('get_reviews') }}" class="brand-logo center">LMR <i class="fas fa-music"></i></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_reviews') }}">Home</a></li>
                {% if session.current_user %}
                    <li><a href="{{ url_for('add_review') }}">Add Review</a></li>
                    <li><a href="#">My Reviews</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- mobile nav -->
    <ul class="sidenav white-text" id="mobile-demo">
        <li><a href="{{ url_for('get_reviews') }}">Home</a></li>
        {% if session.current_user %}
            <li><a href="{{ url_for('add_review') }}">Add Review</a></li>
            <li><a href="#">My Reviews</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flash-message center">
            <div class="col s6 offset-s3">
                <h4 class="green1 white-text">
                    <br>
                    {{ message }}
                    <br><br>
                </h4>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>