{% extends "base.html" %}
{% block content %}

<h3 class="center-align"><i class="fa-solid fa-wand-magic-sparkles"></i> Edit Your Review</h3>

<div class="row">
    <!-- form for user to editd a new review -->
    <form class="col s12 m10 offset-m1" method="POST" 
        action="{{ url_for('edit_review', review_id=review._id) }}">
        <div class="row">
            <!-- band name -->
            <div class="input-field col s6">
                <input id="band_name" name="band_name" type="text" class="validate" 
                    value="{{ review.band_name }}" required>
                <label for="band_name">Artist Name</label>
            </div>
            <!-- venue name -->
            <div class="input-field col s6">
                <input id="venue_name" name="venue_name" type="text" class="validate" 
                    value="{{ review.venue_name }}" required>
                <label for="venue_name">Venue Name</label>
            </div>
            <!-- city name -->
            <div class="input-field col s4">
                <input id="city_name" name="city_name" type="text" class="validate" 
                    value="{{ review.city_name }}" required>
                <label for="city_name">City</label>
            </div>
            <!-- country name -->
            <div class="input-field col s4">
                <input id="country_name" name="country_name" type="text" class="validate" 
                    value="{{ review.country_name }}" required>
                <label for="country_name">Country</label>
            </div>
            <!-- date of show -->
            <div class="row">
                <div class="input-field col s4">
                    <input class="datepicker" id="show_date" name="show_date" type="text" 
                        class="validate" value="{{ review.show_date }}" required>
                    <label for="show_date">Show Date</label>
                </div>
            </div>
            <!-- review content -->
            <div class="input-field col s10">
                <textarea id="review_content" name="review_content" 
                    class="materialize-textarea validate" required>
                         {{- review.review_content -}} 
                </textarea>
                <label for="review_content">Write Your Review Here</label>
            </div>
            <!-- rating -->
                <div class="input-field col s2">
                    <input id="rating" name="rating" type="text" 
                        pattern="^[1-5]{1,1}$" class="validate" required>
                    <label for="rating">Rating (1-5)</label>
                    </div>
            <!-- cancel button -->
            <div class="row">
                <div class="col s12 center">
                    <a href="{{ url_for('my_reviews') }}" class="btn waves-effect waves-light" 
                        type="submit">Cancel Changes<i class="fa-solid fa-ban left"></i>
                    </a>
                    <button class="btn waves-effect waves-light" type="submit">Confirm Changes
                        <i class="fa-solid fa-share left"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}