{% extends "base.html" %}
{% block content %}

<h2 class="center-align"><i class="fa-regular fa-id-card"></i> My Reviews</h2>

<!-- button to take user to top of page -->
<div class="fixed-action-btn">
    <a href="#top" class="btn-floating btn-large waves-effect waves-light orange"><i class="fa-solid fa-arrow-up"></i></a>
</div>

{% for review in reviews %}

    <!-- only shows reviews created by the current user -->
    {% if session.current_user == review.created_by %}
        <div class="row">
            <div class="col s12 m8 offset-m2 review-card">
                <div class="black card-panel hoverable z-depth-5">
                    <span class="white-text">
                        <strong>{{ review.band_name }}</strong> @
                        {{ review.venue_name }}<br>
                        {{ review.city_name }},
                        {{ review.country_name }}.
                        {{ review.show_date }}<br>
                        <p>Review: 
                            <!-- adds stars equal to rating -->
                        {% if review.rating == "1" %}
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "2" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "3" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "4" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "5" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                        </p>
                        {{ review.review_content }}<br>
                        <em>by: {{ review.created_by }}</em>
                    </span>
                    <br>
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn">Edit</a>
                    <!-- opens confirm deletion modal -->
                    <a class="btn red modal-trigger" href="#modal{{ loop.index }}">Delete</a>
                </div>
            </div>
        </div>

        <!-- modal to confirm deletion of specific review -->
        <div id="modal{{ loop.index }}" class="modal">
            <div class="modal-content">
                <h4>DELETE REVIEW</h4>
                <p>
                  Are you sure you want to delete your review? This cannot be undone!
                  Click 'DELETE' below to confirm or 'CANCEL' to go back.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect btn">CANCEL</a>
                <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close waves-effect red btn">DELETE</a>
            </div>
        </div>    
    {% endif %}
{% endfor %}
{% endblock %}