{% extends "base.html" %}
{% block content %}

<h3 class="center">Register Your New Account</h3>
<br>

<div class="row">
    <form class="col s10 m6 offset-s1 offset-m3 center" method="POST" action="{{ url_for('register') }}">
        <div class="card green lighten-4">
            <div class="row register-input">
                <div class="input-field col s10">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="4" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{4,20}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row register-input">
                <div class="input-field col s10">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name ="password" type="password" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="btn">
                    Sign Up <i class="fas fa-right-to-bracket"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}