{% extends "base.html" %}
{% block content %}

<h2 class="center-align"><i class="fa-solid fa-icons"></i> All Reviews</i></h1>

<div class="row search-bar">
    <form class="col s12 m8 offset-m2" action="{{ url_for('search') }}" method="POST">
        <div class="valign-wrapper z-depth-3 center-align black white-text">
            <div class="input-field col s10 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" class="validate" required>
                <label for="query">Search a band, venue, city or country</label>
            </div>
            <button class="btn left" type="submit">
                <i class="fas fa-search"></i> Search
            </button>
            <a class="btn right" href="{{ url_for('get_reviews') }}">Reset</a>
        </div>
    </form>
</div>

<!-- button to take user to top of page -->
<div class="fixed-action-btn">
    <a href="#top" class="btn-floating btn-large waves-effect waves-light orange"><i class="fa-solid fa-arrow-up"></i></a>
</div>

<!-- creates card for all reviews in database -->
{% for review in reviews %}
<hr>
    <div class="row review-div">
        <div class="col s12 m8 offset-m2">
            <div class="black card-panel hoverable z-depth-5 review-card">
                <span class="white-text">
                    <strong>{{ review.band_name }}</strong> @ 
                    {{ review.venue_name }}<br>
                    {{ review.city_name }}, 
                    {{ review.country_name }}. 
                    {{ review.show_date }}<br>
                    <p>Review:</p>
                    {{ review.review_content }}<br>
                    <em>by: {{ review.created_by }}</em>
                </span>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}