{% extends "base.html" %}
{% block content %}

<h2 class="center-align"><i class="fa-solid fa-icons"></i> All Reviews</h2>

<!-- search -->
<div class="row search-bar">
    <form class="col s12 m8 offset-m2" action="{{ url_for('search') }}" method="POST">
        <div class="valign-wrapper z-depth-3 center-align black white-text">
            <div class="input-field col s10 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" class="validate white-text" required>
                <label class="hide-on-small-only" for="query">
                    Search a band, venue, city or country</label>
                <label class="show-on-small" for="query">Search</label>
            </div>
            <button class="btn left" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a class="btn right review-btn" href="{{ url_for('get_reviews') }}">Reset</a>
        </div>
    </form>
</div>

<!-- button to take user to top of page -->
<div class="fixed-action-btn">
    <a href="#top" class="btn-floating btn-large waves-effect waves-light orange">
        <i class="fa-solid fa-arrow-up"></i></a>
</div>

<!-- creates card for all reviews in database -->
{% for review in reviews %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="black card-panel hoverable z-depth-5 review-card">
                <div class="white-text">
                    <strong>{{ review.band_name }}</strong> @ 
                    {{ review.venue_name }}<br>
                    {{ review.city_name }}, 
                    {{ review.country_name }}. 
                    {{ review.show_date }}<br>
                    <p>Review: 
                        <!-- adds stars equal to rating -->
                        {% if review.rating == "1" %}
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "2" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "3" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "4" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% elif review.rating == "5" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </p>
                    {{ review.review_content }}<br>
                    <em>by: {{ review.created_by }}</em>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}